{
  "mcpServers": {
    "magic": {
      "type": "stdio",
      "command": "npx",
      "args": ["-y", "@21st-dev/magic@latest"],
      "env": {
        "API_KEY": "REPLACE_ME_WITH_YOUR_21ST_DEV_KEY"
      }
    }
  }
}
